@import "src/app/features/main-page/neon";

%font-settings {
  user-select: none;
  font-size: 12rem;
  font-family: neon, serif;
  backface-visibility: hidden;
  text-align: center;
}

button {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  top: 2rem;
  right: 6rem;
  z-index: 1;
}

.title-background{
  height: 100vh;
  background-color: black;
  background-size: cover;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-first {
  color: #e47cfc;
  @extend %font-settings;
  @include font-neon-animation;
}

.title-second {
  color: #E47CFC;
  @extend %font-settings;
  @include font-neon-animation;
}

.gods-background{
  min-height: 100vh;
  background-color: #000000;
  background-size: cover;
  display: flex;
  align-items: center;
}

.gods {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.expression-background{
  height: 100vh;
  background-color: black;
  background-size: cover;
  position: relative;
}

.expression {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expression-samarkan{
  color: rgba(0, 234, 255, 0.92);
  user-select: none;
  font-size: 15rem;
  font-family: samarkan, serif;
  backface-visibility: hidden;
  text-align: center;
  @include expression-neon-animation;
}

.expression-shayan{
  color: rgba(0, 234, 255, 0.92);
  user-select: none;
  font-size: 15rem;
  font-family: shayan, serif;
  backface-visibility: hidden;
  text-align: center;
  @include expression-neon-animation;
}

.expression-catholic{
  color: rgba(0, 234, 255, 0.92);
  user-select: none;
  font-size: 15rem;
  font-family: cloister-black, serif;
  backface-visibility: hidden;
  text-align: center;
  @include expression-neon-animation;
}

footer{
  height: 30vh;
  background-color: black;
  background-size: cover;
  position: relative;
}

.footer-text {
  align-items: end;
}

h2 {
  user-select: none;
  font-size: 3rem;
  color: #E47CFC;
  font-family: battleContinuez, serif;
  backface-visibility: hidden;
  text-align: center;
  @include font-neon-animation;
}
