<div>
  <button mat-raised-button
          (click)="connectWallet()"
          color="primary">
    Connect Wallet
  </button>

  <div class="title-background">
    <div class="title">
      <div class="title-first">Crypto</div>
      <div class="title-second">Gods</div>
    </div>
  </div>

  <div class="gods-background">
    <div class="container ">
      <div class="gods row">
        <div class="col-md-6 col-xl-3"
             *ngFor="let god of gods">
          <app-god
            [god]=god>
          </app-god>
        </div>
      </div>
    </div>
  </div>
  <div class="expression-background">
    <div class="expression">
      <div class="expression-shayan">the rare</div>
      <div class="expression-samarkan">as</div>
      <div class="expression-catholic">F+ck</div>
    </div>
  </div>

  <footer>
    <div class="container fixed-bottom">
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <h1>Biblia</h1>
        </div>
        <div class="footer-text col-md-12 col-xl-6">
          <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </h2>
        </div>
      </div>
    </div>
  </footer>
</div>
