@import "src/app/main-page/neon";

%font-settings {
  user-select: none;
  font-size: 12rem;
  font-family: neon, serif;
  backface-visibility: hidden;
  text-align: center;
}

button {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  top: 2rem;
  right: 6rem;
  z-index: 1;
}

.title-background{
  height: 100vh;
  background-color: black;
  background-size: cover;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-first {
  color: #E47CFC;
  @extend %font-settings;
  @include font-neon-animation;
}

.title-second {
  color: #E47CFC;
  @extend %font-settings;
  @include font-neon-animation;
}

.gods-background{
  min-height: 100vh;
  background-color: #BC2FFC;
  background-size: cover;
  display: flex;
  align-items: center;
}

.gods {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.expression-background{
  height: 100vh;
  background-color: black;
  background-size: cover;
}
