button {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  top: 2rem;
  right: 6rem;
}

.title-background{
  height: 100vh;
  background-color: black;
  background-size: cover;
}

.title {
  color: white;
  text-align: center;
  font-family: cloister-black, serif;
  font-size: 13rem;
  line-height: normal;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gods-background{
  height: 100vh;
  background-color: white;
  background-size: cover;
}

.gods {
  height: 100vh;
  padding-top: 15rem;
}

.expression-background{
  height: 100vh;
  background-color: black;
  background-size: cover;
}
