
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$crypto-gods-primary: mat.define-palette(mat.$indigo-palette);
$crypto-gods-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$crypto-gods-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$crypto-gods-theme: mat.define-light-theme((
  color: (
    primary: $crypto-gods-primary,
    accent: $crypto-gods-accent,
    warn: $crypto-gods-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($crypto-gods-theme);

@font-face {
  font-family: anglican;
  src: local("anglican"), url(./assets/fonts/anglicantext/AnglicanText.ttf) format("opentype");
}
@font-face {
  font-family: chapbook;
  src: local("chapbook"), url(./assets/fonts/chapbook/Chapbook/Chapbook-Regular.otf) format("opentype");
}
@font-face {
  font-family: fustAndShoffer;
  src: local("fustAndShoffer"), url(./assets/fonts/fust-schoeffer/FustAndSchoeffer/fustAndShoffer.otf) format("opentype");
}
@font-face {
  font-family: cloister-black;
  src: local("cloister-black"), url(./assets/fonts/cloister-black/CloisterBlack.ttf) format("opentype");
}

@font-face {
  font-family: neon;
  src: local("fustAndShoffer"), url(./assets/fonts/neon/neon.ttf) format("opentype");
}

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
