$vanishInTime: 1.5s;

.god {
  margin: 1rem;
  user-select: none;
}

.visibilityHidden {
  visibility: hidden;
}

.red-neon-border-animation {
  visibility: visible !important;
  animation: red-neon-border .05s ease-in-out infinite alternate,
  vanishIn $vanishInTime;
}

.yellow-neon-border-animation {
  visibility: visible !important;
  animation: yellow-neon-border .05s ease-in-out infinite alternate,
  vanishIn $vanishInTime ease-in-out;
}

.green-neon-border-animation {
  visibility: visible !important;
  animation: green-neon-border .05s ease-in-out infinite alternate,
  vanishIn $vanishInTime;
}

.black-neon-border-animation {
  visibility: visible !important;
  animation: black-neon-border .05s ease-in-out infinite alternate,
  vanishIn $vanishInTime;
}

img {
  width: 100%;
}

button {
  margin-top: 10px;
}

.center-element {
  text-align: center;
}

@keyframes black-neon-border {
  from {
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(255, 255, 255, 0.52),
    0 0 21px rgba(255, 255, 255, 0.92),
    0 0 34px rgba(255, 255, 255, 0.78),
    0 0 54px rgba(255, 255, 255, 0.92);
  }
  to {
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(202, 228, 225, 0.42),
    0 0 12px rgba(255, 255, 255, 0.58),
    0 0 22px rgba(255, 255, 255, 0.84),
    0 0 38px rgba(255, 255, 255, 0.88),
    0 0 60px rgba(255, 255, 255, 1);
  }
}

@keyframes red-neon-border {
  from {
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(239, 35, 121, 0.52),
    0 0 21px rgba(239, 35, 121, 0.92),
    0 0 34px rgba(239, 35, 121, 0.78),
    0 0 54px rgba(239, 35, 121, 0.92);
  }
  to {
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(202, 228, 225, 0.42),
    0 0 12px rgba(239, 35, 121, 0.58),
    0 0 22px rgba(239, 35, 121, 0.84),
    0 0 38px rgba(239, 35, 121, 0.88),
    0 0 60px rgba(239, 35, 121, 1);
  }
}


@keyframes yellow-neon-border {
  from {
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(225, 233, 145, 0.52),
    0 0 21px rgba(225, 233, 145, 0.92),
    0 0 34px rgba(225, 233, 145, 0.78),
    0 0 54px rgba(225, 233, 145, 0.92);
  }
  to {
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(202, 228, 225, 0.42),
    0 0 12px rgba(225, 233, 145, 0.58),
    0 0 22px rgba(225, 233, 145, 0.84),
    0 0 38px rgba(225, 233, 145, 0.88),
    0 0 60px rgba(225, 233, 145, 1);
  }
}


@keyframes green-neon-border {
  from {
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(124, 229, 215, 0.52),
    0 0 21px rgba(124, 229, 215, 0.92),
    0 0 34px rgba(124, 229, 215, 0.78),
    0 0 54px rgba(124, 229, 215, 0.92);
  }
  to {
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(124, 229, 215, 0.42),
    0 0 12px rgba(124, 229, 215, 0.58),
    0 0 22px rgba(124, 229, 215, 0.84),
    0 0 38px rgba(124, 229, 215, 0.88),
    0 0 60px rgba(124, 229, 215, 1);
  }
}

@-webkit-keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}

@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(90px);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
}
